<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Login</title>
</head>
<body>
    <%- include('./partials/nav') %>
    

    
        <form action="/auth/google" method = "get">          
          <button type="submit" class="btn btn-primary">login with google</button>
        </form>
    </div> 


    <%- include('./partials/scripts') %>
</body>
</html>